.Hero {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #545555;
	align-items: stretch;
}

.Hero-Main {
	width: 40%;
	height: 750px;
	padding: 100px 75px;
}

.Hero-Image {
	width: 60%;
	height: 750px;
	padding: 30px;
}

.Hero-Main>p {
	text-align: left;
	color: #fff;
	font-size: 30px;
	padding: 10px 0;
	letter-spacing: 6px;
	font-weight: 600;
	word-spacing: 20px;
}

.Hero-Main>p:nth-child(3),
.Hero-Main>p:nth-child(4) {
	font-size: 10px;
	letter-spacing: 5px;
	font-weight: 300;
	word-spacing: 6px;
}

.Hero-Main>p:nth-child(4) {
	margin-bottom: 75px;
}

.Explore.rule {
	margin-top: 150px;
	font-size: 20px;
	letter-spacing: 5px;
	font-weight: 300;
	word-spacing: 30px;
}

.Hero-Main>p>span {
	color: #878600;
}

.form-page input[type=text] {
	padding: 10px;
	font-size: 17px;
	border: 1px solid grey;
	float: left;
	width: 80%;
	background: #f1f1f1;
}

.form-page button {
	float: left;
	width: 20%;
	padding: 10px;
	background: #f1f1f1;
	color: #545555;
	font-size: 17px;
	border: 1px solid grey;
	border-left: none;
	cursor: pointer;
}


@media screen and (max-width: 960px) {
	.Hero-Image {
		display: none;
	}

	.Hero-Main {
		width: 100%;
		height: 750px;
		padding: 100px 75px;
	}
}