footer {
	background: linear-gradient(90deg, #FF616A 0%, #FFC837 100%);
	height: 300px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	font-family: "Work Sans, sans-serif";
}

footer>div {
	width: 45%;
}

.footer-head {
	padding: 50px 100px;
}

.footer-head>h2 {
	padding: 20px 0;
}

.footer-head>p {
	padding: 1px 0;
}

.footer-body {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: stretch;
	margin-top: 100px;
}

.footer-body>div {
	width: 33%;
}

.footer-body>div:nth-child(1),
.footer-body>div:nth-child(2) {
	border-right: 3px solid black;
}

.footer-body>div>a {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: stretch;
	padding: 10px 25px;

}

@media screen and (max-width: 960px) {
	footer {
		display: flex;
		flex-direction: column-reverse;
		flex-wrap: nowrap;
		height: 100%;
	}

	.footer-head {
		padding: 0 50px;
	}

	footer>div {
		width: 100%;
	}

	.footer-body {
		margin-top: 10px;
	}

	.footer-head>p:nth-child(3) {
		align-items: center;
	}

}