@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
{
width: 100%;
font-family: 'Work Sans', sans-serif;
@apply text-black;
}